.cartInfo {
  display: block;
  width: 100%;
  padding: 0 150px;
}

.cartStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding: 174px;
}
.cartstatusIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 48px;
  color: var(--main-color);
  font-size: 16px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 24px;
  border: 0.5px solid #dbdee7;
}

.cartstatusIndicator:first-child {
  background-color: var(--bg-color);
  border-radius: 6px 0px 0px 6px;
  border: none;
  color: var(--text-color);
}
.cartstatusIndicator:nth-child(4) {
  border-radius: 0px 6px 6px 0px;
}

.cartInfo h1 {
  color: var(--main-color);
  text-align: center;
  font-size: 46px;
  font-style: var(--font-style);
  font-weight: 900;
  line-height: 64px;
  margin-bottom: 66px;
}

.tableContainer {
  width: 100%;
}

.tableContainer table {
  border-collapse: collapse;
  width: 100%;
  table-layout: flex;
  white-space: wrap;
}

.tableContainer table thead {
  color: var(--main-color);
  font-size: 16px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 24px;
}

.tableContainer table thead td {
  border-bottom: 1px solid #dbdee7;
  padding-bottom: 16px;
}

.tableContainer table tbody td input {
  width: 25%;
  padding-left: 1px;
  border: 1px solid #dbdee7;
}

.tableContainer table td {
  padding: 20px;
  text-align: start;
  border-bottom: 1px solid #dbdee7;
}

.productImage {
  width: 150px;
  height: 200px;
}

.productImage img {
  width: 100%;
}

.tableContainer table td h3 {
  color: var(--main-color);
  font-size: 20px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 34px;
}
.tableContainer table td p {
  color: var(--main-color);
  font-size: 16px;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 24px;
}

.productSize {
  color: var(--main-color);
  font-size: 18px;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 32px;
}

.productColor {
  color: var(--main-color);
  font-size: 18px;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 32px;
}

.tableContainer table tbody td input {
  color: var(--main-color);
  font-size: 18px;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.deleteItem {
  display: flex;
  width: 100%;
  color: var(--bg-color);
}

.cartTotal {
  position: relative;
  display: block;
}
.totalPrice {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.totalPrice h3 {
  color: var(--main-color);
  font-size: 18px;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 32px;
  margin-right: 20px;
}
.totalPrice p {
  color: var(--main-color);
  text-align: right;
  font-size: 18px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 32px;
}
.ctaCart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 37px;
  margin-bottom: 113px;
}
.ctaCart p {
  color: var(--main-color);
  font-size: 18px;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 32px;
}
.ctaCart p .ion-icon {
  font-size: 16px;
  color: var(--main-color);
  margin-right: 10px;
  align-items: bottom;
}
.ctaCart .submitButton {
  margin-right: 20px;
  border-radius: 6px;
  background-color: var(--bg-color);
  width: 214px;
  height: 60px;
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 34px;
  border: none;
}

/* Responsive styles for tablets */

/* 
@media only screen and (max-width: 768px) {
  .cartInfo {
    padding: 0 20px;
  }
  

  .cartStatus {
    padding: 40px;
  }

  .tableContainer table td {
    padding: 10px;
  }

  .productImage {
    width: 100px;
    height: 150px;
  }

  .tableContainer table td h3 {
    font-size: 16px;
    line-height: 28px;
  }

  .tableContainer table td p {
    font-size: 14px;
    line-height: 20px;
  }

  .deleteItem {
    font-size: 14px;
  }

  .totalPrice h3,
  .totalPrice p,
  .ctaCart p {
    font-size: 14px;
    line-height: 24px;
  }

  .submitButton {
    width: 150px;
    height: 40px;
    font-size: 16px;
    line-height: 26px;
  }
} */

/* Responsive styles for mobile devices */
/* @media only screen and (max-width: 480px) {
  .cartInfo {
    padding: 0 10px;
  }

  .tableContainer table td {
    padding: 8px;
  }

  .productImage {
    width: 80px;
    height: 120px;
  }

  .tableContainer table td h3 {
    font-size: 14px;
    line-height: 20px;
  }

  .tableContainer table td p {
    font-size: 12px;
    line-height: 18px;
  }

  .deleteItem {
    font-size: 12px;
  }

  .totalPrice h3,
  .totalPrice p,
  .ctaCart p {
    font-size: 12px;
    line-height: 20px;
  }

  .submitButton {
    width: 120px;
    height: 30px;
    font-size: 14px;
    line-height: 22px;
  }
} */
