.cartInfo {
  display: block;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cartStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 174px;
}
.cartstatusIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 48px;
  color: var(--main-color);
  font-size: 16px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 24px;
  border: 0.5px solid #dbdee7;
}

.cartstatusIndicator:nth-child(1) {
  border-radius: 6px 0px 0px 6px;
}
.cartstatusIndicator:nth-child(4) {
  border-radius: 0px 6px 6px 0px;
}

.cartstatusIndicator:nth-child(2) {
  background-color: var(--bg-color);
  border: none;
  color: var(--text-color);
}

.cartInfo h1 {
  color: var(--main-color);
  text-align: center;
  font-size: 46px;
  font-style: var(--font-style);
  font-weight: 900;
  line-height: 64px;
  margin-bottom: 66px;

}
/* 
.delivery {
  margin: 0 auto;
  padding: 20px;
}

.inputs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 20px;
}

.inputs form {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.inputs input {
  margin: 24px 30px;
  color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border: 1px solid #dbdee7;
  border-radius: 6px;
}
.inputs input[type="text"] {
  padding: 14px 24px;
  max-width: 360px;
}
.ctaCart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 37px;
  margin-bottom: 113px;
}

.ctaCart p {
  color: var(--main-color);
  font-size: 18px;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 32px;
}
.ctaCart p .ion-icon {
  font-size: 16px;
  color: var(--main-color);
  margin-right: 10px;
  align-items: bottom;
}
.ctaCart .submitButton {
  border-radius: 6px;
  width: 293px;
  height: 60px;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 34px;
  border: none;
}

#address {
  position: relative;
  width: 555px;
}
#zipCode {
  position: relative;
  width: 165px;
} */

.deliveryInputs {
  display: block;
}
.gridContainer {
      display: grid;
      grid-template-columns: repeat(1fr 2fr 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 10px;
    }

    .gridItem {
      text-align: left;
    }
    .gridItem label {
      display: none;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      color: var(--main-color);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      border: 1px solid #dbdee7;
      border-radius: 6px;
      }
      .ctaCart {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 37px;
        margin-bottom: 113px;
      }

.ctaCart p {
  color: var(--main-color);
  font-size: 18px;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 32px;
}
.bx-chevron-left {
  color: var(--main-color);
  margin-right: 10px;
  text-align: center;
}
.ctaCart .submitButton {
  border-radius: 6px;
  width: 293px;
  height: 60px;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 34px;
  border: none;
}


/* Desktop container utility class: */
/* xl */
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
    .cartstatusIndicator:nth-child(1),
    .cartstatusIndicator:nth-child(3),
    .cartstatusIndicator:nth-child(4) {
      display: none;
    }
    .cartstatusIndicator:nth-child(2) {
      border-radius: 6px 6px 6px 6px;
      margin: auto;
      min-width: 200px;
    }
    .cartStatus {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 100px;
    }
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
    input#address {
      width: 237px;
    }
    .submitButton {
      margin: 0 5px;
      width: 50%;
      font-size: 14px;
    }
    
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
    .cartstatusIndicator:nth-child(2) {
      margin-left: -10px;
    }
  }
}

/* Mobile container utility class: */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
