.footerContainer {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: space-between;
  background-color: #d2deff;
}

.mainFooter {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 100px 40px 40px 40px;
}

.leftside {
  display: block;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
}

.mainFooter p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.mainFooter a {
  text-decoration: none;
}

.leftSide img {
  width: 46px;
  height: 46px;
  background-color: #0045ff;
  opacity: 0.75;
  border-radius: 50%;
  margin-bottom: 55px;
}

.middleSide span {
  color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.middleSide p {
  color: var(--main-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.socialIconsContainer {
  display: inline-block;
  background-color: transparent;
  margin-right: 178px;
}

.socialIconsContainer img {
  margin-right: 16px;
}

.CopyRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CopyRight a {
  color: var(--main-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 10px;
}
