header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 0 20px;
  background-color: var(--bg-color);
  padding: 20px;
}

.logo {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: var(--text-color);
  border-radius: 50%;
  padding: 5px;
}

.logo img {
  width: 100%;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-right:20px;
}

.navbar a:hover {
  color: var(--main-color);
}

.navbar a.active {
  color: var(--active-color);
}

.cartContainer {
  display: flex;
  align-items: center;
}

.cartContainer a {
  margin-left: 10px;
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.cart {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart svg {
  width: 100%;
}

.cartCount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 18px;
  color: var(--text-color);
  background-color: #09ad2d;
  text-align: center;
  font-size: 3px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cartCount {
  position: absolute;
  top: -2px;
  right: -5px;
  color: var(--text-color);
  border-radius: 50%;
  border: 1px solid var(--text-color);
  text-decoration: none;
}

#menu-icon {
  font-size: 35px;
  margin-left: 10px;
  cursor: pointer;
  z-index: 10001;
}
/* Productpage */
.productOverview {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(0, 69, 255, 0.4),
      rgba(0, 69, 255, 0.4)
    ),
    url(/assets/images/BG2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -140px;
}

.productOverview {
  display: block;
  align-items: center;
  justify-content: center;
}
.productOverview h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 58px;
  font-style: italic;
  font-weight: 900;
  line-height: 64px;
  padding-top: 380px;
  margin-bottom: 110px;
}

.productRow {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 170px 40px 114px 40px;
  background-color: var(--text-color);
  gap: 30px;
}
.productRow img {
  display: flex;
  width: 100%;
  height: auto;
  border-bottom: 1px solid grey;
  padding: 20px 20px;
}

.productColumn {
  padding: 40px;
}
.productColumn p {
  color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.productColumn span {
  color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

/* Footer */
.footerContainer {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: space-between;
  background-color: #d2deff;
}

.mainFooter {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 100px 40px 40px 40px;
}

.leftside {
  display: block;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
}

.mainFooter p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.mainFooter a {
  text-decoration: none;
}

.leftSide img {
  width: 46px;
  height: 46px;
  background-color: #0045ff;
  opacity: 0.75;
  border-radius: 50%;
  margin-bottom: 55px;
}

.middleSide span {
  color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.middleSide p {
  color: var(--main-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.socialIconsContainer {
  display: inline-block;
  background-color: transparent;
  margin-right: 178px;
}

.socialIconsContainer img {
  margin-right: 16px;
}

.CopyRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CopyRight a {
  color: var(--main-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 10px;
}
