:root {
  --bg-color: #0045ff;
  --text-color: #ffffff;
  --main-color: #000;
  --font-style: normal;
  --active-color: #a23095ba;
}
/* #loader {
  display: none;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-top-color: var(--main-color);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
} */