@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;900&family=Poppins:ital,wght@0,800;0,900;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: #0045ff;
  --text-color: #ffffff;
  --main-color: #000;
  --font-style: normal;
  --active-color:#a23095ba;
}

body {
  color: var(--text-color);
}

header {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  background-color: var(--bg-color);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: var(--text-color);
  border-radius: 50%;
  padding: 5px;
}

.logo img {
  width: 100%;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 50px;
}

.navbar a:hover {
  color: var(--main-color);
}

.navbar a.active {
  color: var(--active-color);
}

.cartContainer {
  display: flex;
  align-items: center;
}

.cartContainer a {
  margin-right: 10px;
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.cart {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart svg {
  width: 100%;
}

.cartCount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 18px;
  color: var(--text-color);
  background-color: #09ad2d;
  text-align: center;
  font-size: 3px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cartCount {
  position: absolute;
  top: -2px;
  right: -5px;
  color: var(--text-color);
  border-radius: 50%;
  border: 1px solid var(--text-color);
  text-decoration: none;
}

#menu-icon {
  font-size: 35px;
  margin-left: 30px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}


/* Productpage */
.productSummary {
  width: 100%;
  background-image: linear-gradient(
      rgba(0, 69, 255, 0.4),
      rgba(0, 69, 255, 0.4)
    ),
    url(/assets/images/BG2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -140px;
}

.productSummary {
  display: block;
  align-items: center;
  justify-content: center;
}
.productSummary h1 {
  color: #fff;
  text-align: center;
  font-size: 58px;
  font-style: italic;
  font-weight: 900;
  line-height: 64px;
  padding-top: 370px;
  margin-bottom: 314px;
}

.productSpecificContainer {
  position: relative;
  background-color: #fff;
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.productDetails {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productDetails img {
  width: 100%;
  height: fit-content;
  padding: 20px 40px;
  align-items: flex-start;
}
.productDescription {
  width: 100%;
  display: inline-block;
  margin: 20px 40px;
  padding: 0 40px;
}
.productDescription h2 {
  color: #000;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
  margin-bottom: 16px;
}
.productDescription p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 26px 0;
}

.dropdownContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 220px;
}

.dropdown {
  position: relative;
  min-width: 180px;
  margin: 32px;
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #DBDEE7;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  color:#000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.selectClicked {
  border: 1px solid #0045FF;
  box-shadow: 0 0 13px #26489a;
}


.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
  transition: 0.3s;
}
.caretRotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 3px 8px;
  border: 1px solid #DBDEE7;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 25px;
  color:#000;
  position: absolute;
  top: 48px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}
.menu li {
  padding: 12px 8px;
  margin: 5px 0;
  border-radius: 6px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #0045FF;
  color: #fff;
}

/* active styles (add later in javascript) */
.active {
  background-color: #475f9f;
}

/* Open styles (add later in javascript) */

.menuOpen {
  display: block;
  opacity: 1;
}

.action {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.action p {
  color: #000;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
}
.action button {
  align-items: center;
  justify-content: center;
  width: 358px;
  height: 60px;
  border-radius: 6px;
  background:#0045FF;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  border: none;
}

.action img {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  margin-left: 78px;
}

.popularItems {
  display: block;
  background-color: #0037cc;
  padding: 18px 20px;
}

.popularItems h2 {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 20px;
}

.containerItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popularItemsList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.popularItemsList img {
  width: 131px;
  border-radius: 6px;
}

.popularItemsList p {
  width: 153px;
  height: 62px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-left: 10px;
}

.popularItemsList p:nth-last-child(1) {
  margin-top: 45px;
}

.popularItemsList span {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}


/* Footer */
.footerContainer {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: space-between;
  background-color: #d2deff;
}

.mainFooter {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 100px 40px 40px 40px;
}

.leftside {
  display: block;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
}

.mainFooter p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.mainFooter a {
  text-decoration: none;
}

.leftSide img {
  width: 46px;
  height: 46px;
  background-color: #0045ff;
  opacity: 0.75;
  border-radius: 50%;
  margin-bottom: 55px;
}

.middleSide span {
  color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.middleSide p {
  color: var(--main-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.socialIconsContainer {
  display: inline-block;
  background-color: transparent;
  margin-right: 178px;
}

.socialIconsContainer img {
  margin-right: 16px;
}

.CopyRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CopyRight a {
  color: var(--main-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 10px;
}
