
.productPageSection {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(0, 69, 255, 0.30),
      rgba(0, 69, 255, 0.301)
    ),
    url(/assets/images/BG2.png);
  background-position: auto;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.productOverview {
    display: block;
    align-items: center;
    justify-content: center;
    
}
.productOverview h1 {
    color:#FFF;
    text-align: center;
    font-size: 58px;
    font-style: italic;
    font-weight: 900;
    line-height: 64px; 
    margin-top: 370px;
    margin-bottom: 119px;
}

.productRow {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 170px 40px 114px 40px;
    background-color: #FFF;
    gap: 30px;
   

}
.productRow img {
    display: flex;
    width: 100%;
    height: auto;
    border-bottom: 1px solid grey;
    padding: 20px 20px;
    
}

.productColumn {
    padding: 40px;
}
.productColumn p {
    color:#000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    }
.productColumn span {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}